*{
  margin:0;
  padding:0;
  border: border-box;
}
.App {
  background: linear-gradient(180.64deg, #F7F8FA 0.5%, #FAFAFC 46.6%, rgba(255, 255, 255, 0) 116.97%), url("./img/background.jpg");
  background-size: cover;
  background-position: 100%;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
 
  min-height: 100vh;
  max-width: 95vw;
  margin: 5px auto;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
 
}

.App-link {
  color: #61dafb;
}
