* {
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: "Rubik", sans-serif;
}

.App {
  background: linear-gradient(
      180.64deg,
      #f7f8fa 0.5%,
      #fafafc 46.6%,
      rgba(255, 255, 255, 0) 116.97%
    ),
    url("./img/background.jpg");
  background-size: cover;
  background-position: 100%;
  display: flex;
  padding-left: 40px;
  width: 100vw;
  height: 100vh;
}

.content-container {
  flex: 2;
}

.empty-space {
  flex: 1.5;
}
.App-logo {
  height: 10vmin;
  margin-top: 20px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

::placeholder {
  color: #d5a8cc;
  font-size: 15px;
  letter-spacing: 2;
}

.selected {
  background-color: #e79f9f;
}
